.fin-content-area-container {
  grid-area: content;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

  &__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (max-width: 1418px) {
    justify-content: center;
    &__main {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  @media (max-width: 1080px) {
    flex-direction: column;
    align-items: center;
  }
}
