.shop-main-notification {
  margin: 2rem;
  padding: 2rem;
  width: 55rem;
  max-height: 13rem;
  background-color: #2c698d;
  color: #fff;
  border-radius: 7.5px;
  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: row;

  &:hover {
    background-color: #2c698dd5;
  }

  &__image {
    width: 8.4rem;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0.5rem 5rem 0.5rem 2rem;

    & h4 {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }

    & p {
      font-size: 1.6rem;
    }
  }

  &__icon {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);

    background-color: #1b5e85;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: #7ed7ff;

    & i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
