@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap");

.financial-dashboard {
  font-family: "Mulish", sans-serif;
  min-width: 600px;
  background-color: #f2f4f9;

  display: grid;

  grid-template-areas:
    "sidebar topbar"
    "sidebar header"
    "sidebar content";
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px 90px 1fr;
}
