.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navlist {
  display: flex;
  flex-direction: row;

  &__item {
    cursor: pointer;
    text-transform: uppercase;
    padding: 2rem 3rem;
    text-decoration: none;
    color: inherit;

    &:hover {
      background-color: #ff8906;
    }

    &--active {
      background-color: #ff8906;
    }
  }
}
