.rating-link {
  color: #6189ff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.75rem 0;
  margin-top: 2rem;
  cursor: pointer;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;

  & > p {
    margin-right: 1rem;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 0;
    height: 2px;
    background-color: #6189ff;

    transition: width 0.2s linear;
  }

  &:hover:after {
    width: 100%;
  }
}
