@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap");

.faq-accordion {
  min-width: 800px;
  max-width: 1400px;
  background-color: #4f1559;

  font-family: "Mulish", sans-serif;

  padding: 5rem;

  &__container {
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    width: 100%;

    padding: 2rem;

    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1460px) {
    padding: 10rem;

    &__container {
      flex-direction: row;
      justify-content: space-between;

      padding: 4rem;
    }
  }
}
