@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700;800&display=swap");

.cv-builder {
  font-family: "Catamaran", sans-serif;

  background-color: #f4c77d;
  padding: 5rem;

  &__container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
  }
}
