.feedback-submit {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  background-color: #3457dc;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0 0.4rem;
  cursor: pointer;
}
