.fin-activity-text {
  color: #405169;
  font-size: 1rem;

  & strong {
    font-weight: 700;
  }

  & a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    cursor: pointer;
    color: #4c8deb;
    text-decoration: none;
  }
}
