.estimator-footer {
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5rem;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);

  &__btn {
    padding: 0.75rem 2rem;
    font-weight: 600;
    border: 1px solid #727272;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);

    transition: all 0.2s linear;

    &:focus,
    :active {
      outline: none;
    }

    &:active {
      box-shadow: none;
      transform: translateY(2px);
    }

    &--fill {
      background-color: #8e4efcc4;
      color: #fff;

      &:hover {
        cursor: pointer;
        background-color: #8d4efc;
      }
    }

    &--nofill {
      background-color: transparent;
      color: #8e4efcc4;
      &:hover {
        cursor: pointer;
        background-color: #8d4efc;
        color: #fff;
      }
    }
  }
}
