@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

.subscribe {
  font-family: "Rubik", sans-serif;
  &__container {
    background-color: #fff;
    padding: 3rem 8rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & h2 {
      font-size: 1.8rem;
      color: black;
      padding: 1.5rem;
    }

    & h4 {
      font-size: 1.2rem;
      font-weight: 300;
      color: #303035;
    }
  }
}
