.fin-activity-component {
  background-color: #fff;
  width: 360px;
  margin: 0.5rem;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  height: 100%;

  @media (min-width: 1418px) {
    overflow: scroll;
    max-height: 730px;
  }

  & h3 {
    font-size: 2rem;
    color: #405169;
    font-weight: 400;
    padding: 0.5rem 0;
  }

  &__container {
    margin: 0.5rem 0;
  }
}
