:root {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #0f0e17;
  color: #fffffe;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
