.recipe-search {
  padding: 2rem;

  & > h3 {
    font-size: 2.2rem;
  }

  &__form {
    margin-top: 2rem;
    position: relative;

    & > i {
      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
      color: #1111274d;
    }
  }

  &__input {
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 15px;
    border: 1px solid #edd2cb;
    padding: 2rem 2rem 2rem 4rem;
    width: 340px;

    &:focus {
      outline: none;
    }
  }
}
