.cv-contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__form-group {
    position: relative;

    & > legend {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 0.8rem;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0 0.3rem;
      z-index: 5;

      background: linear-gradient(
        180deg,
        rgba(244, 199, 125, 0.2) 0%,
        rgba(255, 255, 255, 1) 80%
      );
    }
  }

  &__input {
    width: 280px;
    margin: 1.5rem 0;
    padding: 1rem;
    border: 1px solid rgb(135, 135, 135);
    border-radius: 5px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgb(135, 135, 135);
    }

    &--valid {
      border: 1px solid #20cf15;

      & + span {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        //font-size: 1.1rem;
        //font-weight: 500;
        color: #20cf15;
        background-color: transparent;
      }
    }

    &--invalid {
      border: 1px solid rgb(255, 19, 19);

      & + span {
        position: absolute;
        bottom: -2px;
        left: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: rgb(255, 19, 19);
        background-color: transparent;
      }
    }
  }
}
